.options__form {
	width: 300px;

	margin: 15px auto;

	display: flex;
	flex-direction: column;
}

.options__label {
	font-size: 14px;
}

.options__input[type="text"] {
	margin: 5px 0 10px;
	padding: 5px;
}

.options__button {
	font-size: 14px;
}

.button {
	width: 100%;

	margin: auto;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;

	cursor: pointer;

	background: green;
	box-shadow: none;
	text-shadow: none;
	color: white;
}

.button:enabled:hover {
	background-image: none;
	color: white;
	opacity: .8;
}

.popup__container {
	display: flex;
	flex-direction: column;

	width: 200px;

	margin: 15px;
}

.popup__title {
	font-size: 16px;
	font-weight: 500;
}

.popup__description {
	margin: 5px 0 15px;

	font-size: 14px;
}

.hidden {
	display: none;
}